<template>
  <div>
    <IpSelector />
    <PingInfo />
  </div>
</template>

<script>
import IpSelector from '../components/IpSelector'
import PingInfo from '../components/PingInfo'

export default {
  name: "PageIndex",

  components: {
    IpSelector,
    PingInfo
  }
};
</script>
