<template>
  <div class="ip-selector">
    <q-select
      :label="$t('IPURL')"
      v-model="url"
      use-input
      dense
      autofocus
      filled
      use-chips
      multiple
      hide-dropdown-icon
      input-debounce="0"
      @new-value="createValue"
      :disable="getIsPlaying"
    >
      <template v-slot:prepend>
        <q-icon name="router" />
      </template>
    </q-select>
    <q-btn
      color="secondary"
      @click="playPause"
      :disabled="disabled"
      class="btn"
      :class="{ 'disabled-btn': disabled }"
    >
      <q-icon :name="getIsPlaying ? 'pause' : 'play_arrow'" />
    </q-btn>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { makeUrlFriendly } from "../utils";

export default {
  data() {
    return {
      url: []
    };
  },

  computed: {
    ...mapGetters(["getIsPlaying"]),

    disabled() {
      return !Boolean(this.url.length);
    }
  },

  methods: {
    ...mapActions(["togglePlayPause"]),

    playPause() {
      if (!this.disabled) {
        this.$store.dispatch("setUrls", this.url).then(this.togglePlayPause);
      }
    },

    createValue(val, done) {
      done(makeUrlFriendly(val), "add-unique");
    }
  }
};
</script>
<style lang="scss" >
@import "../css/app.scss";

.ip-selector {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: 45px;
  grid-column-gap: 15px;
  background-color: $darkLevel3;
  padding: 15px;
  border-radius: 3px;

  .btn {
    transition: all 0.5s;
    background-color: $accentColor;

    .q-btn__content {
      color: $accentColor;
      transition: all 0.5s;
    }
  }

  .disabled-btn {
    filter: grayscale(100%);

    .q-btn__content {
      opacity: 0.25;
    }
  }
}

.q-chip {
  background-color: $accentColor;
}
</style>