<template>
  <div class="menu-bar">
    <div class="cursor-pointer non-selectable menu-item">
      {{$t('File')}}
      <q-menu class="menu-bar-submenu">
        <q-list dense>
          <q-item clickable v-close-popup>
            <q-item-section>About...</q-item-section>
          </q-item>

          <q-separator />
          <q-item clickable v-close-popup>
            <q-item-section @click="emitQuit">Quit</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </div>
    <div class="cursor-pointer non-selectable menu-item">
      {{$t('Options')}}
      <q-menu>
        <q-list dense>
          <q-item clickable v-close-popup>
            <q-item-section @click="emitResetIPs">{{$t('ResetOptions')}}</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    emitQuit () {
      this.$emit('quit-app')
    },

    emitResetIPs () {
      this.$emit('reset-ips')
    }
  }
};
</script>

<style lang="scss">
@import "../css/app.scss";

.menu-bar {
  display: flex;
  justify-content: flex-start;
  background-color: $darkLevel1;
  padding-left: 10px;

  .menu-item {
    padding: 0 10px;
    &:hover {
      background-color: $accentColor;
      color: $darkLevel1;
    }
  }
}

.q-menu {
  background-color: $accentColor;
  border-radius: 0;
  min-width: 100px;
  * {
    color: $darkLevel1;
  }
}
</style>