<template>
  <div class="ping-info-container">
    <div id="chart"></div>
    <div class="server-state">
      <div v-for="host in serversPinging" class="host-info" :key="`hostState-${host.host}`">
        <div>{{host.host}}</div>
        <div>
          <q-spinner-radio v-if="host.pinging" color="primary" size="1em" />
        </div>
        <div>{{Boolean(host.ms) ? `${host.ms}ms` : ""}}</div>
        <div>{{host.totalPackages && `${getPercentageOfLostPackages(host)}% ${$t('Lost')}`}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { systemPing } from "../utils/pingUtil";
import tinycolor from "tinycolor2";
import highcharts from "highcharts";

export default {
  data() {
    return {
      pingInterval: undefined,
      serversPinging: [],
      chart: undefined,
      chartSeries: []
    };
  },

  computed: {
    isPlaying() {
      return this.$store.getters.getIsPlaying;
    },

    hosts() {
      return this.$store.getters.urls;
    }
  },

  methods: {
    updatePingStatus(host, status, ms, packageLost) {
      const newStateServers = [...this.serversPinging];
      const hostIndex = this.serversPinging.findIndex(
        server => server.host === host
      );

      newStateServers[hostIndex].pinging = status;
      ms && (newStateServers[hostIndex].ms = ms);

      if (!status) {
        ++newStateServers[hostIndex].totalPackages;
        if (packageLost) {
          ++newStateServers[hostIndex].lostPackages;
        }
      }

      this.serversPinging = newStateServers;
    },

    getPercentageOfLostPackages(host) {
      const percentage = (host.lostPackages * 100) / host.totalPackages;

      return Math.floor(percentage * 100) / 100;
    },

    setDataIntoChart(host, ms) {
      const serie = this.chart.series.find(serie => serie.name === host);
      serie.addPoint([this.$t('Latency'), ms]);
      if (serie.data.length > 15) {
        serie.data[0].remove();
      }
    },

    startPing() {
      this.serversPinging = this.hosts.map(host => {
        return {
          host,
          pinging: false,
          ms: 0,
          totalPackages: 0,
          lostPackages: 0
        };
      });

      this.chartSeries = this.hosts.map((host, i) => {
        const baseMap = { name: host, data: [] };

        if (i) {
          const color = tinycolor("#FF6600")
            .darken((i + 1) * 5)
            .toString();
          return { ...baseMap, color };
        }

        return { ...baseMap, color: "#FF6600" };
      });

      this.drawChart();

      this.pingInterval = setInterval(() => {
        this.hosts.forEach(host => {
          this.updatePingStatus(host, true);
          systemPing(host)
            .then(ms => {
              console.log(host, ms);
              this.updatePingStatus(host, false, ms);
              this.setDataIntoChart(host, ms);
            })
            .catch(() => {
              console.log(host, null);
              this.updatePingStatus(host, false, 0, true);
              this.setDataIntoChart(host);
            });
        });
      }, 1000);
    },

    stopPing() {
      clearInterval(this.pingInterval);
    },

    drawChart() {
      this.chart = highcharts.chart("chart", {
        credits: false,
        chart: {
          type: "spline",
          animation: false,
          backgroundColor: "transparent",
          plotBorderColor: "#FFFFFA",
          style: { fontFamily: "'Roboto', sans-serif" }
        },
        legend: {
          backgroundColor: "rgba(0, 0, 0, 0.5)",
          itemStyle: { color: "#E0E0E3" },
          itemHoverStyle: { color: "#FFF" },
          itemHiddenStyle: { color: "#606063" },
          title: { style: { color: "#C0C0C0" } }
        },
        plotOptions: { series: { animation: { duration: 2000 } } },
        title: null,
        exporting: { enabled: false },
        tooltip: {
          backgroundColor: "rgba(0, 0, 0, 0.85)",
          style: { color: "#F0F0F0" }
        },
        xAxis: {
          gridLineColor: "#707073",
          labels: { style: { color: "#E0E0E3" } },
          lineColor: "#707073",
          minorGridLineColor: "#505053",
          tickColor: "#707073",
          title: { style: { color: "#A0A0A3" } }
        },
        yAxis: {
          title: { text: `${this.$t("Latency")} (ms)` },
          plotOptions: {
            line: { dataLabels: { enabled: true }, enableMouseTracking: false }
          },
          gridLineColor: "#707073",
          labels: {
            style: {
              color: "#E0E0E3"
            }
          },
          lineColor: "#707073",
          minorGridLineColor: "#505053",
          tickColor: "#707073",
          tickWidth: 1,
          title: {
            style: {
              color: "#A0A0A3"
            }
          }
        },
        series: this.chartSeries
      });
    }
  },

  mounted() {
    this.drawChart();
  },

  watch: {
    isPlaying(isPlaying, wasPlaying) {
      if (isPlaying && !wasPlaying) {
        this.startPing();
      } else if (!isPlaying && wasPlaying) {
        this.stopPing();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../css/app.scss";

.ping-info-container {
  height: 85%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr 330px;
  grid-column-gap: 15px;

  .server-state {
    padding: 15px;
    background-color: $darkLevel1;
    border-radius: 3px;
    overflow-y: auto;

    .host-info {
      display: grid;
      grid-column-gap: 5px;
      align-items: center;
      grid-template-columns: 125px 1fr 2fr 90px;
      grid-template-rows: 25px;
      div {
        overflow: hidden;
        color: $text;
        &:first-child {
          opacity: 0.5;
        }
        &:last-child {
          display: flex;
          justify-content: flex-end;
          color: $accentColor;
          opacity: 0.75;
        }
      }
    }
  }
}
</style>
