// app global css in SCSS form
/* $darkLevel1: #1B1D26;
$darkLevel2: #425955;
$darkLevel3: #778C7A;
$darkGray: darken($darkLevel1, 10);
$text: #F1F2D8;
$accentColor: rgb(168, 191, 159); */

/* $darkLevel1: #14212B;
$darkLevel2: #293845;
$darkLevel3: #4F6373;
$darkGray: darken($darkLevel1, 10);
$text: #D9D7AC;
$accentColor: #8F8164; */

/* $darkLevel1: #0D1C33;
$darkLevel2: #17373C;
$darkLevel3: #2B6832;
$darkGray: darken($darkLevel1, 10);
$text: #4F9300;
$accentColor: #A1D700; */

/* $darkLevel1: #A1D700;
$darkLevel2: #4F9300;
$darkLevel3: #2B6832;
$darkGray: darken($darkLevel1, 10);
$text: #17373C;
$accentColor: #0D1C33; */

$darkLevel1: #464646;
$darkLevel2: #5B605F;
$darkLevel3: #A1A194;
$darkGray: darken($darkLevel1, 10);
$text: #FFFFFA;
$accentColor: #FF6600;