<template>
  <div id="q-app">
    <q-layout view="lHh lpr lFf" style="height: 100vh" class="shadow-2">
      <q-header elevated>
        <q-bar class="q-electron-drag top-bar">
          <div class="title-container">
            <q-icon name="swap_vert_circle" class="q-electron-drag--exception app-icon" />
            <div>Ping Latency Monitor</div>
          </div>

          <div class="controls">
            <q-btn dense flat icon="minimize" @click="minimize" />
            <q-btn dense flat icon="crop_square" @click="maximize" />
            <q-btn dense flat icon="close" @click="closeApp" />
          </div>
        </q-bar>
        <MenuBar @quit-app="closeApp" />
      </q-header>
      <q-page-container>
        <router-view class="page-container" />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import MenuBar from "./components/MenuBar";

export default {
  name: "App",

  components: { MenuBar },

  computed: {
    electronWindow() {
      return this.$q.electron.remote.BrowserWindow.getFocusedWindow();
    }
  },

  methods: {
    minimize() {
      if (process.env.MODE === "electron") {
        this.electronWindow.minimize();
      }
    },

    maximize() {
      if (process.env.MODE === "electron") {
        if (this.electronWindow.isMaximized()) {
          this.electronWindow.unmaximize();
        } else {
          this.electronWindow.maximize();
        }
      }
    },

    closeApp() {
      if (process.env.MODE === "electron") {
        this.electronWindow.close();
      }
    }
  }
};
</script>

<style lang="scss">
@import "css/app.scss";

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.8em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: $accentColor;
}

html,
#q-app {
  height: 100%;
  overflow-y: hidden;
  background-color: $darkLevel2;
  color: $text;

  .top-bar {
    display: flex;
    justify-content: space-between;
    background-color: $darkLevel1;
    color: $accentColor;

    & > div {
      display: flex;
      align-items: center;

      .app-icon {
        margin-right: 1rem;
      }
    }
  }

  .q-page-container {
    height: 100%;
    .page-container {
      padding: 15px;
      height: 100%;
    }
  }

  .q-layout__shadow {
    display: none;
  }
}
</style>
